@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;300&display=swap');

.login, .signup {
    /* position: absolute; */
    width: 416px;
    border-bottom: 2px solid #000000;
    /* margin: 80px auto 60px 470px; */
    padding-bottom: 15px;
    font-size: 25px;
}

.jobia-title {
    font-family: 'Advent Pro', sans-serif;
    font-size: 50px;
}

.login-container {
    display: flex;
}

.login-center {

}

.right-container, .left-container {
    width: 50%;
}

.email-label {
    margin-left: -130px;
    font-size: 18px;
}
.password-label {
    margin-left: -98px;
    font-size: 18px;
}